/* .book{
    background-color: blue;
    transition: 1s;
    transition-delay: 0.5s;
    transition-timing-function: linear
}
.book:hover{
    background-color: red;
    border-radius: 10px;
    /* margin-right: 400px; */
    /* transform: rotate(360deg); */
    /* transform: scale(0.5); */
    /* transform: translateY(500px); */
    /* transform: skew(520deg); */
/* } */ 
.outer{
    height: 400px;
    width: 1000px;
    border-color: black;
    border-style: solid;
    /* display: grid;
    grid-gap: 10px 20px; */
    /* grid-template-rows: repeat(5,1fr); */
    /* grid-template-rows: 100px 100px;
    grid-template-columns: auto auto; */
    /* flex-direction: column;
    flex-wrap: wrap; */
}
.book{
    height: 150px;
    width: 150px;
    background-color: red;
    /* margin-right: 200px;
    margin-left: 200px; */
    box-shadow: 5px 5px 10px rgb(0, 0, 11);
    border-radius: 10px;
    /* animation-name: cardanimation;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate-reverse; */
    /* animation-iteration-count: 2; */
}
/* @keyframes cardanimation {
    0%{ width: 200px;}
    100% {
        width: 400px;
    }
} */

/* .book:hover{
    box-shadow: 5px 5px 20px rgb(10, 10, 80);
    transition: 2s;
} */
/* body{
    background-image: url(avengers.jpeg);
    background-size: cover;
}
