.outer{
    height: 200px;
    width: 200px;
    background-color:yellow;
    border-style: solid;
    margin-left: 200px;
    border-radius: 100px;
}
.eye-one{
    height: 20px;
    width: 20px;
    background-color: black;
    margin-left: 50px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 100px;
}
.eye-two{
    height: 20px;
    width: 20px;
    background-color: black;
    margin-left: 50px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 100px;
}
.smile{
    height: 45px;
    width: 120px;
    background-color: red;
    margin-top: 40px;
    margin-left: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}